// Navigation code here
.navigation {
  //mixin
  .custom-layout();
  flex-flow: column;
  margin: 30px;
  h1 {
    margin: 20px;
    font-size: 4rem;
  }
  a {
    .a-layout();
    color: gray;
    margin: 0 20px;
  }
}
